[submodule "src/subprojects/sort"]
	path = src/subprojects/sort
	url = https://github.com/abewley/sort
[submodule "src/subprojects/yolov5"]
	path = src/subprojects/yolov5
	url = https://github.com/ultralytics/yolov5
