# Py 3.8 chosen b/c it's the version found on Ubuntu 20.04, and Jetpack 5.0+
# TODO Min versions may need to be adjusted down when we test on Xavier.

# To use the Ultralytics YoloV5 repo, install dependencies with their
# requirements file

# Base features
numpy==1.23.4 # OpenVINO lists this as upper version limit
matplotlib>=3.6.3
scipy>=1.10.0
opencv-python>=4.7.0
prettytable>=3.6.0
torch>=1.13.1 # Install manually first if you need another torch build
torchvision>=0.14.1

# SORT
scikit-image>=0.19.3
filterpy>=1.4.5
lap>=0.4.0

# Optional

# Intel accelerated inference
openvino>=2022.3.0
openvino-dev>=2022.3.0

# NVIDIA accelerated inference
# tensorrt

# FRC related and FRC apriltags
pynetworktables>=2021.0.0
robotpy[apriltag]>=2023.1.1 # For apriltags
