# Package names without pinned versions for upgrading
ultralytics
onnx
numpy
scipy
filterpy
lapx
torch
torchvision
robotpy[all]
pynetworktables
xgboost
PyYAML
opencv-python
openvino
openvino-dev
prettytable
netifaces
black
